@using System.Globalization
@inherits BaseComponent

<div class="w3-rest w3-mobile">
    <div class="w3-container w3-padding">
        <InputLabelComponent Label="Фамилия" Value="@Teacher.LastName" OnChange="@(it => { Teacher.LastName = (string)it.Value; Edited(); })" />
        <InputLabelComponent Label="Имя" Value="@Teacher.FirstName" OnChange="@(it => { Teacher.FirstName = (string)it.Value; Edited(); })" />
        <InputLabelComponent Label="Отчество" Value="@Teacher.SecondName" OnChange="@(it => { Teacher.SecondName = (string)it.Value; Edited(); })" />
        <InputLabelComponent Label="Номер телефона" Value="@Teacher.PhoneNumber" OnChange="@(it => { Teacher.PhoneNumber = (string)it.Value; Edited(); })" />
        <InputLabelComponent Label="Электронный адрес" Value="@Teacher.Email" OnChange="@(it => { Teacher.Email = (string)it.Value; Edited(); })" />
        <InputLabelComponent Label="Ссылка на фото" Value="@Teacher.ImageUrl" OnChange="@(it => { Teacher.ImageUrl = (string)it.Value; Edited(); })" />
        <InputLabelComponent Label="Дополнительное поле 1" Value="@Teacher.Additional" OnChange="@(it => { Teacher.Additional = (string)it.Value; Edited(); })" />
        <InputLabelComponent Label="Оплата за час занятия" Value="@Teacher.PerHour.ToString(CultureInfo.CurrentCulture)" OnChange="@(it => { Teacher.PerHour = decimal.TryParse((string)it.Value, out var perHour) ? perHour : 0m; Edited(); })" />
    </div>
    <br />
    <div class="w3-container w3-padding">
        <input class="w3-check" type="checkbox" bind="@Teacher.EditChildren" onclick="@Edited" />
        <label>Изменение личных данных детей</label>
        <br />
        <input class="w3-check" type="checkbox" bind="@Teacher.EditTeachers" onclick="@Edited" />
        <label>Изменение личных данных всех преподавателей</label>
        <br />
        <input class="w3-check" type="checkbox" bind="@Teacher.EditSubjects" onclick="@Edited" />
        <label>Изменение расписания всех преподавателей</label>
        <br />
        <input class="w3-check" type="checkbox" bind="@Teacher.ReadGlobalStatistic" onclick="@Edited" />
        <label>Просмотр статистики</label>
    </div>
    <div class="w3-row">
        @if (!Success)
        {
            Console.WriteLine("Success: false");
            if (!Busy)
            {
                Console.WriteLine("Busy: false");
                <HalfButtonComponent Color="green" Text="Сохранить" Click=@Save />
                <HalfButtonComponent Color="red" Text="Удалить" Click=@Delete />
            }
            else if (Saving)
            {
                Console.WriteLine("Saving: true");
                <HalfButtonComponent Color="green" NoHover=true Text="Сохраняем..." />
                <HalfButtonComponent Color="red" Disabled=true NoHover=true Text="Удалить" />
            }
            else
            {
                Console.WriteLine("Saving: false");
                <HalfButtonComponent Color="green" Disabled=true NoHover=true Text="Сохранить" />
                <HalfButtonComponent Color="red" NoHover=true Text="Удаляем..." />
            }
        }
        else
        {
            Console.WriteLine("Success: true");
            <HalfButtonComponent Color="green" NoHover=true Disabled=true Text="Сохранить" />
            <HalfButtonComponent Color="red" Text="Удалить" Click=@Delete />
        }
    </div>
    @if (ReadStatistic)
    {
        <ButtonComponent Color="blue" Click=@(() => UriHelper.NavigateTo($"/statistic/teacher/{Teacher.Id}")) Text="Статистика" />
    }
</div>

@functions {
    bool Busy { get; set; }
    bool Success { get; set; } = true;
    bool Saving { get; set; } = true;

    [Parameter]
    TeacherModel Teacher { get; set; }

    [Parameter]
    bool ReadStatistic { get; set; }

    async void Save()
    {
        if (Busy || Success)
            return;

        Busy = true;
        Saving = true;
        StateHasChanged();

        var teacherId = await Post<string>("/api/teacher", Teacher);
        if (!string.IsNullOrEmpty(teacherId))
            Teacher.Id = teacherId;

        Busy = false;
        Success = true;
        StateHasChanged();
    }

    async void Delete()
    {
        if (Busy)
            return;

        Busy = true;
        Saving = false;
        StateHasChanged();

        if (await Post("/api/teacher/delete", Teacher.Id))
            UriHelper.NavigateTo("/teachers");
    }

    void Edited()
    {
        Success = false;
        StateHasChanged();
    }
}