<div class="w3-container w3-card-4">
    <div class="w3-padding-small">
        <label>Фамилия: @Teacher.LastName</label>
        <br />
        <label>Имя: @Teacher.FirstName</label>
        <br />
        <label>Отчество: @Teacher.SecondName</label>
        <br />
        <label>Номер телефона: @Teacher.PhoneNumber</label>
        <br />
        <label>Электронный адрес: @Teacher.Email</label>
        <br />
        <label>Дополнительное поле 1: @Teacher.Additional</label>
    </div>
    @if (ReadStatistic)
    {
        <ButtonComponent Color="blue" Text="Статистика" Click=@(() => UriHelper.NavigateTo($"/statistic/teacher/{Teacher.Id}")) />
    }
</div>

@functions {
    [Parameter]
    T Teacher { get; set; }

    [Parameter]
    bool ReadStatistic { get; set; }

    [Inject]
    IUriHelper UriHelper { get; set; }
}