@inherits LayoutComponentBase
@inject IUriHelper UriHelper

<div class="w3-sidebar w3-bar-block w3-collapse w3-card w3-animate-left" style="width:200px;display:@(closeMenu ? "none" : "block")">
    <button class="w3-bar-item w3-button w3-large w3-hide-large" onclick="@Close">Close &times;</button>
    <a class="w3-bar-item w3-button" href="/" onclick="@Close">Расписание</a>
    <a class="w3-bar-item w3-button" href="/teachers" onclick="@Close">Преподаватели</a>
    <a class="w3-bar-item w3-button" href="/children" onclick="@Close">Дети</a>
    <a role="button" onclick="@LogoutAsync" class="w3-bar-item w3-button">Выйти</a>
</div>
<div class="w3-main" style="margin-left:200px">
    <div class="w3-container">
        <div class="w3-teal">
            <button class="w3-button w3-teal w3-xlarge w3-right w3-hide-large" onclick="@CloseOpen">&#9776;</button>
            <div class="w3-container">
                <h2>Наше детство</h2>
            </div>
        </div>
        @Body
    </div>
</div>

@functions {
    bool closeMenu = true;

    async void LogoutAsync()
    {
        await BrowserExtensions.RemoveLocalStorageAsync(Defaults.AuthTokenStorageName);
        UriHelper.NavigateTo("/authorize");
    }

    void Close()
    {
        closeMenu = true;
    }

    void CloseOpen()
    {
        closeMenu = !closeMenu;
    }
}
