@using System.Globalization
@inherits SubmitComponentBase

<div class="w3-rest w3-mobile">
    <div class="w3-container w3-padding">
        <InputLabelComponent Label="Фамилия" Value="@Child.LastName" OnChange="@(it => { Child.LastName = (string)it.Value; Edited(); })" />
        <InputLabelComponent Label="Имя" Value="@Child.FirstName" OnChange="@(it => { Child.FirstName = (string)it.Value; Edited(); })" />
        <InputLabelComponent Label="Отчество" Value="@Child.SecondName" OnChange="@(it => { Child.SecondName = (string)it.Value; Edited(); })" />
        <InputLabelComponent Label="Ссылка на фото" Value="@Child.ImageUrl" OnChange="@(it => { Child.ImageUrl = (string)it.Value; Edited(); })" />
        <InputLabelComponent Label="Отец" Value="@Child.FatherName" OnChange="@(it => { Child.FatherName = (string)it.Value; Edited(); })" />
        <InputLabelComponent Label="Телефон отца" Value="@Child.FatherPhone" OnChange="@(it => { Child.FatherPhone = (string)it.Value; Edited(); })" />
        <InputLabelComponent Label="Мать" Value="@Child.MotherName" OnChange="@(it => { Child.MotherName = (string)it.Value; Edited(); })" />
        <InputLabelComponent Label="Телефон матери" Value="@Child.MotherPhone" OnChange="@(it => { Child.MotherPhone = (string)it.Value; Edited(); })" />
        <InputLabelComponent Label="Оплата за обычное занятие" Value="@Child.PerHour.ToString(CultureInfo.CurrentCulture)" OnChange="@(it => { Child.PerHour = decimal.TryParse((string)it.Value, out var perHour) ? perHour : 0m; Edited(); })" />
        <InputLabelComponent Label="Оплата за групповое занятие"/>
    </div>
    <div class="w3-row">
        @if (!Success)
        {
            if (!Busy)
            {
                <HalfButtonComponent Color="green" Text="Сохранить" Click=@Save />
                <HalfButtonComponent Color="red" Text="Удалить" Click=@Delete />
            }
            else if (Saving)
            {
                <HalfButtonComponent Color="green" NoHover=true Text="Сохраняем..." />
                <HalfButtonComponent Color="red" Disabled=true NoHover=true Text="Удалить" />
            }
            else
            {
                <HalfButtonComponent Color="green" Disabled=true NoHover=true Text="Сохранить" />
                <HalfButtonComponent Color="red" NoHover=true Text="Удаляем..." />
            }
        }
        else
        {
            <HalfButtonComponent Color="green" NoHover=true Disabled=true Text="Сохранить" />
            <HalfButtonComponent Color="red" Click=@Delete Text="Удалить" />
        }
    </div>
    @if (ReadGlobalStatistic)
    {
        <ButtonComponent Color="blue" Click=@(() => UriHelper.NavigateTo($"/statistic/child/{Child.Id}")) Text="Статистика" />
    }
</div>

@functions {
    bool Busy { get; set; }
    bool Success { get; set; } = true;
    bool Saving { get; set; } = true;

    [Parameter]
    C Child { get; set; }

    [Parameter]
    bool ReadGlobalStatistic { get; set; }

    async void Save()
    {
        if (Busy || Success)
            return;

        Busy = true;
        Saving = true;
        StateHasChanged();

        Child.Id = await SubmitAsync(Child);

        Busy = false;
        Success = true;
        StateHasChanged();
    }

    async void Delete()
    {
        if (Busy)
            return;

        Busy = true;
        Saving = false;
        StateHasChanged();

        await DeleteAsync(Child.Id, "/children");
    }

    void Edited()
    {
        Success = false;
        StateHasChanged();
    }
}